<!-- #description="ngModel" required [(ngModel)]="product.description"  
[formControl]="productDescForm"
-->
<form (ngSubmit)="finishPurchase()" #purchaseForm="ngForm">
   <div class="row">
      <div class="col-sm-8">
         <mat-form-field class="full-width">
            <mat-label>Descrição do produto</mat-label>
            <input type="text" matInput [formControl]="productControl" [matAutocomplete]="prodAuto" id="description"
               name="description" />
            <div [hidden]="productControl.valid || productControl.pristine" class="alert alert-danger">
               A descrição do produto é obrigatória.
            </div>
            <mat-autocomplete #prodAuto="matAutocomplete">
               <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
               </mat-option>
            </mat-autocomplete>
         </mat-form-field>
      </div>
      <div class="col-sm-4">
         <mat-form-field class="full-width">
            <mat-label>Estabelecimento</mat-label>
            <input type="text" matInput [formControl]="establishmentControl" [matAutocomplete]="establishmentAuto"
               id="establishment" name="establishment" />
            <div [hidden]="establishmentControl.valid || establishmentControl.pristine" class="alert alert-danger">
               O nome do estabelecimento é obrigatório.
            </div>
            <mat-autocomplete #establishmentAuto="matAutocomplete">
               <mat-option *ngFor="let option of filteredEstablishments | async" [value]="option">
                  {{option}}
               </mat-option>
            </mat-autocomplete>
         </mat-form-field>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-4">
         <label>Quantidade</label>
         <input (input)="calculateTotalPurchase()" min="1" type="number" step="1" class="form-control" id="quantity" name="quantity"
            #quantity="ngModel" required [(ngModel)]="purchase.quantity" />
         <div [hidden]="quantity.valid || quantity.pristine" class="alert alert-danger">
            A quantidade é obrigatória.
         </div>
      </div>
      <div class="col-sm-4">
         <label>Valor unit.</label>
         <input (input)="calculateTotalPurchase()" type="number" class="form-control" min="1" step=".01"
            form="purchaseForm" id="unitPrice" name="unitPrice" #unitPrice="ngModel" required
            [(ngModel)]="purchase.unitPrice">
         <div [hidden]="unitPrice.valid || unitPrice.pristine" class="alert alert-danger">
            O valor unit. é obrigatório.
         </div>
      </div>
      <div class="col-sm-4">
         <div class="form-group">
            <label>EAN</label>
            <input type="text" class="form-control" id="ean" name="ean" #ean="ngModel" [(ngModel)]="product.ean">

         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-10">
      </div>
      <div class="col-sm-2">
         <label>Total</label>
         <input (input)="calculateUnitPrice()" type="number" step=".01" class="form-control" id="totalPrice" #totPrice="ngModel" required
            [(ngModel)]="purchase.totalPrice" name="totalPrice">
         <div [hidden]="totPrice.valid || totPrice.pristine" class="alert alert-danger">
            O valor total é obrigatório.
         </div>
      </div>
      <div class="col-sm-12">
         <button type="submit" class="btn btn-success"
            [disabled]="!purchaseForm.form.valid || !establishmentControl.valid || !productControl.valid "> Finalizar
            Cadastro
         </button>
      </div>
   </div>
</form>