.list-products {
   margin-bottom: 50px;
}

th {
   font-size: 12px;
   vertical-align: middle;
}
td {
   font-size: 15px;
   vertical-align: middle;
}

#prod-cadastrados{
   font-size: 12px;
}

button{
   font-size: 12px;
}