<div class="card list-products">
   <h5 class="card-header">Produtos</h5>
   <div class="card-body">
      <table class="table table-dark table-hover table-responsive">
         <caption id="prod-cadastrados">Produtos Cadastrados</caption>
         <thead>
            <tr>
               <th scope="col">ID</th>
               <th scope="col">Descricao</th>
               <th scope="col">Quantidade atual</th>
               <th scope="col">Consumo mes</th>
               <th scope="col">Precisa comprar</th>
               <th scope="col">Estabelecimento (menor preco)</th>
               <th scope="col">Preco<br>(menor)</th>
               <th scope="col">Data (menor preco)</th>
               <th scope="col">Estabelecimento<br>(maior preco)</th>
               <th scope="col">Preco<br>(maior)</th>
               <th scope="col">Data (maior preco)</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let prod of products">
               <th scope="row">{{ prod.id }}</th>
               <td>{{prod.description}}</td>
               <td>{{prod.stock.quantityNow || 0}}</td>
               <td>{{prod.stock.quantityMonthConsumption}}</td>
               <td>{{stockService.precisaComprar(prod.stock)}}</td>
               <td>Caita</td>
               <td>{{purchasesService.returnlowerPrice(prod.purchase) | currency }}</td>
               <td>{{purchasesService.returnDateOfTheLowestPrice(prod.purchase)}} </td>
               <td>Caita</td>
               <td>{{purchasesService.returnHigherPrice(prod.purchase) | currency }} </td>
               <td>{{purchasesService.returnDateOfTheHighestPrice(prod.purchase)}}</td>
               <td>
                  <button style="margin-bottom: 3px;" type="button" class="btn btn-warning btn-sm">Editar</button>
                  <button type="button" class="btn btn-danger btn-sm">Deletar</button>
               </td>

            </tr>
         </tbody>
      </table>
   </div>